{% extends 'sparta/sitebase/base-admin.html' %}

{% block title %}Add Event | {{ block.super }}{% endblock title %}

{% block header %}Add Event:{% endblock header %}

{% block content %}
    <div class="row pad-btm-25">
        <div class="col-lg-12">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="{% url 'sparta:manage-events' %}">Back</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <form id="event-form" method="post" action="">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-warning" value="Add" />
            </form>
        </div>
    </div>

    <script>
    $(function() {
    $( "#id_date" ).datepicker();
    });
    </script>
{% endblock content %}